<div class="action">
    <div class="card flex flex-wrap gap-6 items-center justify-between">
        <p-button class="upload-btn" label="Import Excel" icon="pi pi-upload" (click)="openDialog()"
            severity="danger" />
    </div>

    <div class="card flex flex-wrap gap-6 items-center justify-between">
        <p-button class="export-btn" label="Export Excel" icon="pi pi-download" (click)="handleExport()"
            severity="success" />
    </div>

</div>


<app-dialog *ngIf="showDialog" [mode]="dialogMode" [exportData]="selectedProducts" (close)="closeDialog()"
    (dataImported)="onDataImported($event)"></app-dialog>

<div class="card">
    <p-table [value]="products" [(selection)]="selectedProducts" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
        <ng-template #header>
            <tr>
                <th style="width: 3rem">
                    <!-- Checkbox chọn tất cả -->
                    <input type="checkbox" class="checkbox-table" [checked]="isAllSelected()"
                        (change)="toggleAll($event)" />
                </th>
                <th>Id</th>
                <th>Product Name</th>
                <th>Images</th>
                <th>Description</th>
                <th>Price</th>
                <th>Stock</th>
                <th>Created At</th>
                <th>Is Active</th>

            </tr>
        </ng-template>
        <ng-template #body let-product>
            <tr>
                <td>
                    <input type="checkbox" class="checkbox-table" [checked]="isSelected(product)"
                        (change)="toggleSelection(product, $event)" />
                </td>
                <td>{{product.id}}</td>
                <td>{{product.productName}}</td>
                <td><img [src]="product.images" [alt]="product.productName" width="50" class="shadow-lg" /></td>
                <td>{{product.description}}</td>
                <td>{{product.price}}</td>
                <td>{{product.stock}}</td>
                <td>{{product.createdAt | date:'dd/MM/yyyy'}}</td>
                <td>{{product.isActive}}</td>
            </tr>
        </ng-template>
    </p-table>
</div>