<div class="card flex flex-wrap gap-6 items-center justify-between">
    <p-button class="upload-btn" label="Import Excel" icon="pi pi-upload" (click)="openDialog()" severity="danger" />
</div>

<app-dialog *ngIf="showDialog" (close)="closeDialog()" (dataImported)="onDataImported($event)"></app-dialog>

<p-table [value]="products" [(selection)]="selectedProducts" dataKey="id" [tableStyle]="{'min-width': '50rem'}">
    <ng-template #header>
        <tr>
            <th style="width: 4rem"><p-tableHeaderCheckbox /></th>
            <th>Id</th>
            <th>Product Name</th>
            <th>Images</th>
            <th>Description</th>
            <th>Price</th>
            <th>Stock</th>

        </tr>
    </ng-template>
    <ng-template #body let-product>
        <tr>
            <td>
                <p-tableCheckbox [value]="product" />
            </td>
            <td>{{product.id}}</td>
            <td>{{product.productName}}</td>
            <td><img [src]="product.images" [alt]="product.productName" width="50" class="shadow-lg" /></td>
            <td>{{product.description}}</td>
            <td>{{product.price}}</td>
            <td>{{product.stock}}</td>

        </tr>
    </ng-template>
</p-table>